[Desktop Entry]
Type=Application
Name=Adam migrator
Comment=Migrator from Adam 1.4.2 to Adam 2.0
Exec=migrator.sh
Icon=icon
Categories=applications;
Terminal=true
StartupNotify=true
